root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
max_line_length = 120
trim_trailing_whitespace = true
indent_style = space
quote_type = single
curly_bracket_next_line	= true
spaces_around_operators = true
1indent_brace_style = TBS

[*.html]
indent_size = 4
quote_type = double

[*.py]
indent_size = 4

[Makefile]
indent_style = tab

[*.{js, jsx, vue}]
indent_size = 2

[{package.json, .travis.yml}]
indent_size = 2
