*.sqlite3
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.esproj
.idea
.Ds_Store
*~
git_ignore
build
.noseids
media
static
*.dat
.env
.idea/
fortytwo/local_settings.py
frontend/node_modules/*
frontend/dist/*
frontend/manifest.json
.coverage
staticroot
