{% extends "base.html" %}
{% block title%} Main page {% endblock %}

{% block content %}
<div class="row">
	<div class="span6">
		Name : Artem
	</div>
	<div class="span6">
		Contacts: 
	</div>
</div>
<div class="row">
	<div class="span6">
		Last name : Cheban
	</div>
	<div class="span6">
		Email: croozerua@gmail.com 
	</div>
</div>
<div class="row">
	<div class="span6">
		Date of birth : 15.02.1993
	</div>
	<div class="span6">
		Jabber : croozer@42cc.co
	</div>
</div>

<div class="row">
	<div class="span6">
		Bio : У 2014 році закінчив Чернівецький НУ. 2 роки працював з PHP, Kohana Framework.
	</div>
	<div class="span6">
		Skype : croozerua
	</div>
</div>
<div class="row">
	<div class="span6">
		Date of birth : 15.02.1993
	</div>
	<div class="span6">
		
	</div>
</div>


{% endblock%}